/* .body {
	flex-direction: column;
	max-width: fit-content;
	flex-shrink: 0;
} */

.header {
	background: transparent;
	height: 250px;
	background-image: url('../assets/footer.png');
	justify-content: center;
	text-align: left;
	color: #ffffff;

	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff,
		0 0 20px #49ff18, 0 0 30px #49ff18, 0 0 40px #49ff18,
		0 0 55px #49ff18, 0 0 75px #49ff18;
	color: #ffffff;

	padding: 75px;
	color: 000408;
}

.nav {
	justify-content: center;
	color: #64dd43;
}

.footer {
	clear: both;
	background: transparent;
	height: 250px;
	background-image: url('../assets/footer.png');
	justify-content: center;
	text-align: center;
	padding: 1px;
	color: 000408;
}

.footerlinks {
	color: #ffffff;
	background: transparent;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff,
		0 0 20px #49ff18, 0 0 30px #49ff18, 0 0 40px #49ff18,
		0 0 55px #49ff18, 0 0 75px #49ff18;
	color: #ffffff;
	background: transparent;
	padding-top: 25px;
	margin: 25px;
	font-size: large;
}

#root {
	background: #00090a;
	color: #0abcc7;
	/* background-image: url('../assets/background.png');
	
	background-size: cover;
	-webkit-animation: slidein 75s;
	animation: slidein 75s;

	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;

	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;

	-webkit-animation-direction: alternate;
	animation-direction: alternate; */
}

.img-fluid {
	height: 550px;
	width: 550px;
	margin: 1px;
	vertical-align: middle;
	max-width: min-content;
	padding: 15px;
}

.projectContainer {
	justify-content: center;
	grid-auto-rows: 50px;
	box-sizing: border-box;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	max-height: fit-content;
}

@media screen and (max-width: 768px) {
	.resume {
		width: auto;
	}
}

.resume {
	height: 900px;
	width: 900px;
	display: flex;
	align-items: center;
	justify-content: center;

}

.resumeContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	/* height: 100%; */
	/* background-image: url('../assets/background.png');
	
	background-size: cover;
	-webkit-animation: slidein 75s;
	animation: slidein 75s;

	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;

	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;

	-webkit-animation-direction: alternate;
	animation-direction: alternate; */
}

@media screen and (max-width: 800px) {
	.body {
		flex: 50%;
		max-width: 50%;
	}
}

@-webkit-keyframes slidein {
	from {
		background-position: top;
		background-size: 3000px;
	}

	to {
		background-position: -100px 0px;
		background-size: 2750px;
	}
}

@keyframes slidein {
	from {
		background-position: top;
		background-size: 3000px;
	}

	to {
		background-position: -100px 0px;
		background-size: 2750px;
	}
}

.card {
	height: 100%;
	width: 25%;
	margin: 1px;
	float: left;
}

.card-text {
	color: #0abcc7;
	padding-left: 25px;
}

.card-body {
	font-size: small;
}

.container-fluid {
	font-size: x-large;
	float: unset;
	padding-top: 15px;
	padding-left: 20px;
}

@media only screen and (max-width: 768px) {
	.card {
		width: 100%;
		float: none;
	}
}

.container-sm {
	height: 650px;
	padding-top: 100px;
}